*{
    padding: 0%;
    margin: 0%;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;;
}

img{
    width: 100%;
}

.header-wrapper{
    background-color: #fbfbfdcc;
}

.inner-header-wrapper{
    width: 980px;
    margin: 0 auto;
}

.nav-wrapper ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-wrapper ul li a{
    color:#000000cc;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.9;
}

.nav-wrapper ul li a:hover{
    opacity: 1;
}
.nav-wrapper ul li a img{
    width: 18px;
    color: #000000cc;
}

.header-wrapper{
    position: fixed;
    width: 100%;
}

/* header ends here */

.footer-wrapper{
    background-color: #f5f5f7;
    padding-top: 50px;
}
.inner-footer-wrapper{
    width: 980px;
    margin: 0 auto;
    font-size: 12px;
    color: #6e6e73;
}

.footer-description a{
    text-decoration: underline;
    color:#363535;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-list h4{
    color: #363535;
}
.footer-list ul{
    margin-top: 20px;
    list-style: none;
}

.footer-list ul li{
    padding-top: 10px;
}

.footer-list ul li a{
    list-style-type: none;
    text-decoration: none;
    color: #6e6e73;
}

.footer-list a:hover{
    color: #363535;
    text-decoration: underline;
}