*{
    padding: 0%;
    margin: 0%;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;;
}

img{
    width: 100%;
}

.header-wrapper{
    background-color: #fbfbfdcc;
}

.inner-header-wrapper{
    width: 980px;
    margin: 0 auto;
}

.nav-wrapper{
    align-items: center;
}
.nav-wrapper ul{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-wrapper ul li a{
    color:#000000cc;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.9;
}

.nav-wrapper ul li a:hover{
    opacity: 1;
}
.nav-wrapper ul li a img{
    width: 15px;
    color: #000000cc;
}

.header-wrapper{
    position: fixed;
    width: 100%;
}

.header-promo{
    padding-top: 57px;
    text-align: center;
    padding-bottom: 13px;
}

.header-promo p{
    font-size: 14px;
    color: #6e6e73;
    font-weight: lighter;
}

.header-promo a{
    text-decoration: none;
    color: #06c;
}

/* header ends here */

/* footer begins here */
.footer-wrapper{
    background-color: #f5f5f7;
    padding-top: 10px;
}
.inner-footer-wrapper{
    width: 980px;
    margin: 0 auto;
    font-size: 12px;
    color: #6e6e73;
}

.footer-description a{
    text-decoration: underline;
    color:#363535;
}

.footer-list {
    display: flex;
    justify-content: space-between;
}

.footer-list h4{
    color: #363535;
}
.footer-list ul{
    margin-top: 20px;
    list-style: none;
}

.footer-list ul li{
    padding-top: 10px;
}

.footer-list ul li a{
    list-style-type: none;
    text-decoration: none;
    color: #6e6e73;
}

.footer-list a:hover{
    color: #363535;
    text-decoration: underline;
}
/* footer ends here */


.main-highlight-wrapper{
    background-image: url("../images/heros/hero_macbook_air_15_announce__fz5mtxnl9l6q_large.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

.internal-highlight-wrapper{
    width: 450px;
    margin: auto;
    padding-top: 55px;
    text-align: center;
}

.title-wrapper{
    font-size: 55px;
    font-weight: 300;
    color: #1d1d1f;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.description-wrapper p{
    font-size: 25px;
    color:#363535 ;
}
.second-description-wrapper{
    font-size: 20px;
    color: #6e6e73;
}

.link-wrapper ul li{
    padding-top: 20px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.link-wrapper a{
    text-decoration: none;
    color: #06c;
}

.main-highlight-wrapper-2{
    background-image: url("../images/heros/hero_apple_vision_pro__e8407ehady6i_large.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    margin-top: 10px;
}
.internal-highlight-wrapper-2 {
    width: 500px;
    margin: auto;
    padding-top: 350px;
    text-align: center;
}

.title-wrapper img{
    width: 265px;
}

.main-highlight-wrapper-3{
    background-image: url("../images/heros/hero_iphone14pro_spring__9xo85pm6sbmm_large.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    margin-top: 10px;
}
.internal-highlight-wrapper-3 {
    width: 500px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}

.title-wrapper-iPhone-14-Pro {
    color: #f5f5f7;
    font-size: 55px ;
}

.description-wrapper-pro{
    color: #f5f5f7;
    font-size: 30px;
}

.wrapper-1-2{
    width: 100%;
    display: flex;
    margin: 0 auto;
}


.first-wrapper {
    width: 50%;
    background-image: url("../images/promos/promo_mac_studio_announce__do7xnc8z5mgm_large.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    margin-top: 10px;
}

.second-wrapper{
    width: 50%;
}

.additional-wrapper {
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}